/dataTransfer2/.mvn
iStock.iml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/artifacts/istock_manager_war.xml
.idea/artifacts/istock_manager_war_exploded.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__antlr_antlr_2_7_6.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_2.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_2.xml
.idea/libraries/Maven__cn_jpush_api_jpush_client_3_2_7.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_4_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_4_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_4_2.xml
.idea/libraries/Maven__com_github_fge_btf_1_2.xml
.idea/libraries/Maven__com_github_fge_jackson_coreutils_1_6.xml
.idea/libraries/Maven__com_github_fge_json_patch_1_7.xml
.idea/libraries/Maven__com_github_fge_msg_simple_1_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_2_0_1.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_3.xml
.idea/libraries/Maven__com_google_guava_guava_18_0.xml
.idea/libraries/Maven__com_kingzoo_kingcat_framework_framework_common_1_0_SNAPSHOT.xml
.idea/libraries/Maven__com_kingzoo_kingcat_framework_framework_mongo_1_0_SNAPSHOT.xml
.idea/libraries/Maven__com_kingzoo_kingcat_framework_framework_web_1_0_SNAPSHOT.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3.xml
.idea/libraries/Maven__commons_io_commons_io_2_2.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
.idea/libraries/Maven__dom4j_dom4j_1_6.xml
.idea/libraries/Maven__io_netty_netty_3_7_0_Final.xml
.idea/libraries/Maven__javassist_javassist_3_12_0_GA.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__javax_transaction_jta_1_1.xml
.idea/libraries/Maven__jline_jline_0_9_94.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_34.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_3_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3_3.xml
.idea/libraries/Maven__org_apache_zookeeper_zookeeper_3_4_6.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_7_2.xml
.idea/libraries/Maven__org_atteo_evo_inflector_1_2.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hibernate_hibernate_commons_annotations_3_2_0_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_3_6_10_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_3_6_10_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_0_api_1_0_1_Final.xml
.idea/libraries/Maven__org_mongodb_mongo_java_driver_2_12_3.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
.idea/libraries/Maven__org_opensymphony_quartz_quartz_all_1_6_1.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_7.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_9_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_4_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_1_6_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_rest_core_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_rest_webmvc_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_hateoas_spring_hateoas_0_16_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_0_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_0_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_0_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_0_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_oxm_4_0_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_0_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_0_7_RELEASE.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
istock_manager/istock_manager.iml
