<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath*:spring/*.properties" ignore-unresolvable="true"/>

    <tx:annotation-driven />

    <bean class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close" id="dataSource">
        <property name="driverClassName" value="${database_jpa.driverClassName}" />
        <property name="url" value="${database_jpa.url}" />
        <property name="username" value="${database_jpa.username}" />
        <property name="password" value="${database_jpa.password}" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="true" />
        <property name="testWhileIdle" value="true" />
        <property name="timeBetweenEvictionRunsMillis" value="1800000" />
        <property name="numTestsPerEvictionRun" value="3" />
        <property name="minEvictableIdleTimeMillis" value="1800000" />
        <property name="validationQuery" value="SELECT 1" />
    </bean>


    <!--<bean id="defaultPersistenceUnitManager"-->
          <!--class="org.springframework.data.jpa.support.MergingPersistenceUnitManager">-->
        <!--<property name="persistenceXmlLocations" value="classpath:META-INF/persistence.xml,classpath:persistence1.xml" />-->
    <!--</bean>-->

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <!--<property name="persistenceUnitName" value="persistenceUnit"/>-->
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.kingzoo"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="false"/>
                <property name="generateDdl" value="true" />
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <!--
                value="create" to build a new database on each run;
                value="update" to modify an existing database;
                value="create-drop" means the same as "create" but also drops tables when Hibernate closes;
                value="validate" makes no changes to the database -->
                <prop key="hibernate.hbm2ddl.auto" >update</prop>
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
            </props>
        </property>
        <property name="persistenceProvider" >
            <bean class="org.hibernate.ejb.HibernatePersistence"/>
        </property>


    </bean>

    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- 启用annotation事务控制 (注解式事务配置驱动)-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>
